@media (max-width: 767px) {
  .video-player {
    width: 100%;
    background: 0 0;
  }
  .video-player iframe {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
  #frame {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
  #resposta{
    position: relative;
    display: flex;
    left: 75px;
    max-width: 260px;
  }
  @media (max-width: 393px) { /*Referente a baixa resolução de celulares abaixo de 393  ajusta a resposta */
    #resposta{
      position: relative;
      left: 55px !important;
      max-width: 260px;
    }
    
  }
  @media (max-width: 375px) {/*Referente a baixa resolução de celulares abaixo de 320  ajusta a resposta (hoje em dia praticamente não existe celular mais nessa resolução so apliquei pra ter certeza)*/
    #resposta {
      position: relative;
      left: 55px !important;
      max-width: 260px;
    }
    .fb.fb-comments-comment-img img{
      max-width: 80px;
    }
    
  }
  @media (min-width: 500px)  and (max-width : 1024px){
    #resposta{
      position: relative;
      display: flex;
      left: 75px;
      max-width: 400px;
    }
  } 
}

* {
  font-family: helvetica, arial, sans-serif;
}

body {
  font-size: 16px;
}

.fb-comments {
  border: 1px solid #e9ebee;
  border-radius: 3px;
  padding: 0 15px;
  padding-bottom: 15px;
  margin: auto;
  position: relative;
  color: #4267b2;
}

.fb-comments-header {
  padding: 15px 0;
  border-bottom: 1px solid #e9ebee;
  margin-bottom: 50px;
}

.fb-comments-header span {
  color: #000;
  font-weight: 700;
  font-size: 0.9em;
}

.fb-comments-comment {
  border: none;
  padding: 0;
  margin: -30px 0px;
  width: 100%;
}

.fb-comments-reply-wrapper {
  margin-left: 60px;
  border-left: 1px dotted #e9ebee;
  padding-left: 5px;
}

tr,
td {
  border: none;
  margin: 0;
}

td {
  padding: 2.5px;
}

tr {
  padding: 2.5px 0;
}

.fb-comments-comment-img {
  vertical-align: top;
  width: 48px;
  padding-right: 5px;
}

.fb-comments-comment-img img {
  max-width: 48px;
  border-radius: 25px;
}

.fb-comments-comment-name {
  position: relative;
  left: 18px;
  font-size: 0.85em;
}

.fb-comments-comment-name name {
  color: #222;
  /*color: #365899;*/
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-name name:hover {
  text-decoration: underline;
}

.fb-comments-comment-name occupation {
  /*color: #90949c;*/
}

.fb-comments-comment-text {
  position: relative;
  top: -30px;
  z-index: -1;
  font-size: 0.9em;
  color: #000;
  border-radius: 31px;
  background-color: #eaebef;
  padding: 30px 20px 12px ;

}

.fb-comments-comment-actions like,
.fb-comments-comment-actions reply {
  position: relative;
  left: 18px;
  top: -35px;
  font-size: 0.75em;
  color: #888;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-actions like.liked {
  color: #90949c;
}

.fb-comments-comment-actions like:hover,
.fb-comments-comment-actions reply:hover {
  text-decoration: underline;
}
.displaycoment{
  display: none;
}
.fb-comments-comment-actions likes {
  position: relative;
  left: 10px;
  top: -35px;
  font-size: 13px;
  background: url('/assets/likes.png')!important;
  background-repeat: no-repeat!important;
  padding-left: 43px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-top: -10px;
  float: right;
  background-color: #fff!important;
  border: solid #eaebef;
  border-radius: 19px;
}

.fb-comments-comment-actions date {
  position: relative;
  left: 10px;
  top: -35px;
  font-size: 0.75em;
  color: #90949c;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-actions date:hover {
  text-decoration: underline;
}

.fb-comments-loadmore {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  padding: 0.875em;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer;
}

.fb-reply-input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 100%;
  padding: 5px 7.5px;
  font-size: 0.75em;
  color: #000;
  outline: none;
}

.fb-reply-input:hover,
.fb-reply-button:hover {
  outline: none;
}

.fb-reply-button {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.75em;
  padding: 5px 7.5px;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer;
  outline: none;
}

.bbtn {
  width: 100%;
  max-width: 449px;
}
/*CSS da resposta facebook*/
#resposta{
  position: relative;
  display: flex;
  left: 75px;

}
#resposta .fb-comments-comment-text{
  width: 570px;
}

@media (max-width: 768px) {
  .video-player {
    margin-top: 0 !important;
  }
}

.a-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      border: 0; 
      font: inherit; 
      vertical-align: baseline;
      color: #2e82bc; 
      outline: 0; 
      line-height: 1; 
      text-align: center; 
      position:relative!important; display: inline-block!important;
      border-style: solid; 
      width: 100%; padding-left: 0!important; padding-right: 0!important; 
      margin-bottom: 10px; 
      padding: 22px 44px; border-color: #ff5535; border-width: 0px; 
      border-radius: 6px; 
      background: linear-gradient(to bottom, #ff6600 0%, #ff5535 100%); 
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
      text-decoration: none!important;
    }
    .span-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      margin: 0; 
      border: 0; 
      font: inherit;
      vertical-align: baseline;
      display: block; 
      position: relative; 
      z-index: 1; 
      padding: 0 15px; 
      white-space: normal; 
      font-size: 25px;
      color: #ffffff; 
      font-family: Oswald; 
      font-weight: bold; 
      text-shadow: #000000 0px 1px 0px;
      text-decoration: none;
    }
    .span-btn2 {
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      padding: 0; border: 0;
      font: inherit; 
      vertical-align: baseline; 
      display: block; 
      position: relative;
      z-index: 1; 
      margin: .2em 0 -.5em; 
      font-size: 15px; 
      color: #f5e051; 
      font-family: Cabin; 
      font-weight: bold; 
      font-style: italic;
      text-shadow: #000000 0px 1px 0px;
    }

.my-4 {
    	font-size: 1.4rem;
    }